body {
    width: 960px;
    margin-left: 20px;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

a {
    color: #CC1C0D;
}

h2 {
    color: #CC1C0D;
    background-color: #DFE3E6;
    border-radius: 5px;
    outline: #929ca4;
    padding-left: 10px;
}

a[href*="http"].active {
    color: #CC1C0D;
}

img {
    vertical-align: text-top;
    padding-right: 5px;
    float: left;
}

section img {
    border-radius: 45%;
    border: solid 1px #CC1C0D;
    vertical-align: text-top;
    float: top;
    padding-right: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
}

section p {
    padding-left: 10px;
    margin-top: 4px;
}

#vprospect {
    font-weight: bold;
}

#vconvert {
    font-weight: bold;
}

#vretain {
    font-weight: bold;
}

ol {
    list-style-type: none;
}

ul li {}

.nav {
    list-style-type: none;
    padding: 0;
}